.main-content {
    padding: 2rem;

    background-color: rgb(20, 20, 20);
}

.main-content img {
    width: 60px;
}

.divider {
    border: 1px solid #ffff;
}

.btn-group {
    background: purple;
    padding: 15px;
    height: auto;
}

.btn-group-about {
    background: purple;
    padding: 8px;
    margin-top: 15px;
    height: auto;
    transition: all .5s;
}

.btn-group-about:hover {
    background: blueviolet;
}


.informations-section {
    padding: 1.5rem;
    margin: 20px;
    text-align: justify;
}
.projects-section {
    padding: 1.5rem;
    margin: 20px;
    text-align: justify;
}

.project-detail {
    border: 1px solid #fffdfd3f;
    border-radius: 0.125rem;
}

.project-detail h6 {
    width: 100%;
    background-color: #fffdfd3f;
    padding: .5rem;
}